<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <!-- Bootstrap CSS & JS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <!-- ChartJS JS & CSS -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.0/dist/chart.min.js"></script>

</head>

<body>
    <div class="chart-container" style="position: relative; height:10vh; width:60vw">

        <canvas id="priceGraph" width="200" height="200"></canvas>

    </div>
</body>
<script>
    var ctx = document.getElementById('priceGraph').getContext('2d');
    let prices = <%- JSON.stringify(prices) %>
    let times = <%- JSON.stringify(times) %>
    
    console.log(prices, times);
    // let priceChart = new Chart(ctx, {
    //     type: 'line',
    //     labels: <%= times %>,
    //     datasets: {
    //         data: <%= prices %>
    //     }
    // })
    var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: times,
        datasets: [{
            label: '# of Votes',
            data: prices,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
           
            yAxes: {
                min: 0,
                max: 50
  }
        }
    }
});
</script>

</html>