<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title> Price_Tracker </title>
   <link rel="stylesheet" type="text/css" href="/css/homepage.css">
   <link rel="stylesheet" type="text/css" href="/css/homepagebody.css">
</head>
<body>
    <nav class="nav-container">
     <nav class="nav">
        <a class="nav-anchor" href="/"><p class="nav-anchor">Price_Tracker</p></a>
        <div class="search-bar-conteiner">
            <input class="search-bar" id="search-bar" type="text" placeholder="Search...">
        </div>


        <!--DropDown-Hamburgure -->
        <div class="dropdown-container">
            <button id="dropdown-hamburger" class="dropdown-hamburger">&#9776;</button>
            <ul id="dropdown" class="dropdown">
               <%if(user) {%>
                  <li><a class="dc-anchor" href="/user">Profile</a></li>
                  <li><a class="dc-anchor" href="/admin">Admin Panel</a></li>
                  <%if(user.type === 'admin') {%>
                     <li><a class="dc-anchor" href="/admin">Admin Panel</a></li>
                  <%}%>
                  <li><a class="dc-anchor" href="/tracking">Price Tracking</a></li>
                  <li><a class="dc-anchor" href="/auth/logout">Sign Out</a></li>
               <%} else {%>
                  <li><a class="dc-anchor" href="/auth/login">Sign In</a></li>
                  <li><a class="dc-anchor" href="/auth/register">Sign Up</a></li>
               <%}%>
            </ul>
         </div>
     </nav>
     <!--
     <nav class="nav2">
        <div>
            <marquee>
              <h3 class="header">Welcome to Price_Tracker Website</h3>
            </marquee>
        </div>
     </nav>-->
    </nav>
<!--
    <div class="main-body">
        <div class="search-results" id="search-results">
           <%searchproduct.forEach(product => {%>
              <a class="card" href="/tracking/prod/<%=product._id%>">
                 <img class="product-image"  src="<%=product.image%>">
                 <p class="product-name"><%=product.name%></p>
                 <p class="product-price">Price:<%=product.price_history[0].price.substring(1) %></p>
              </a>
           <%})%>
        </div>
    </div>
 -->  

    <div class="main-body">
        <div class="search-results" id="search-results">
           <%searchproduct.forEach(product => {%>
              <div class="product">
                 <a href="/tracking/prod/<%=product._id%>">
                    <img class="product-image" src="<%=product.image%>" alt="">
                 </a>
                 <div class="product-description">
                    <p class="product-name"><%=product.name%></p>
                    <p class="product-rating">Price:<%=product.price_history[0].price.substring(1) %></p>
                 </div>
              </div>
           <%})%>
        </div>
     </div>

 

      
    <script type="text/javascript" src="/js/homepage.js"></script>
    <script type="text/javascript" src="/js/search.js"></script>

</body>    
</html>
